.competency-utility {    
    background-image: url('../images/aboutUACN/competency_utility_bg.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    padding: {
        left: 2rem;
        right: 2rem;
        top: 3rem;
    };
    .item {
        position: relative;
        margin: {
            left: 1.25rem;
            right: 1.25rem;
        };
        background-color: #F2F2F2;
        border-radius: 12px;
        height: 100%;
        padding: 0.5rem;
        > article {
            border-radius: 9px;
            padding: 3rem 1rem;
            height: 100%;
        }
        > .title {
            display: block;
            width: 168px;
            height: 51px;
            @include backgroundImage('aboutUACN/title_bg.png');
            position: absolute;
            top: -3px;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--bs-white);
            font-weight: bolder;
            text-align: center;
            font-size: 1.25rem;
            padding-top: 5px;
        }
        > .icon {
            display: block;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color: $pagination-dark;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.aboutUACN {
    // height: 500px;
    // overflow-y: auto;
    // padding-right: 8px;
    // // width
    // &::-webkit-scrollbar {
    //     width: 2px;
    // }
    
    // // Track
    // &::-webkit-scrollbar-track {
    //     background: #f1f1f1;
    // }
    // // Handle
    // &::-webkit-scrollbar-thumb {
    //     background: var(--bs-primary);
    // }
    .item {
        p {
            margin-bottom: 2.4rem;
        }
    }
    .small {
        color: $custom-small-color;
    }
}
@include media-breakpoint-down(lg) {
    .competency-utility {
        background-image: none;
        > .row {
            .col-6:nth-child(1) {
                margin-bottom: 4.5rem;
            }
            .col-6:nth-child(2) {
                margin-bottom: 4.5rem;
            }
        }
    }
}
.custom-nav-list {
    > .nav-item {
        .nav-link {
            position: relative;
            &::after {
                font: var(--fa-font-solid);
                content: map-get($icons, circle);
                position: absolute;
                top: 50%; 
                transform: translateY(-50%);
                left: 0;
                font-size: 0.5rem;
            }
            &.active {
                &::after {
                    color: var(--bs-primary);
                }
            }
        }
        &:not(:first-child) {
            .nav-link {
                &::before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 35px;
                    background-color: var(--bs-dark);
                    top: -17px;
                    left: 0.25rem;
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .competency-utility {
        padding: {
            left: 0;
            right: 0;
        };
        .item {
            margin: {
                left: 0;
                right: 0;
            };
            > .title {
                top: 11px;
                width: 112px;
                height: 38px;
                background-size: contain;
                font-size: 1rem;
            }
            > .icon {
                width: 52px;
                height: 52px;
                img {
                    width: 50%;
                }
            }
        }
    }
}

