// custom button style
%custom-btn {
    color: var(--bs-white);
    font-family: $font-family-Arial;
    padding: 12px 28px;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: $custom-box-shadow-bese;
    &:hover {
        color: var(--bs-white);
        box-shadow: none;
    }
}
.custom-btn-primary {
    @extend %custom-btn;
    background-color: var(--bs-primary);
    &:hover {
        background-color: var(--bs-danger);
    }
}
.custom-btn-red {
    @extend %custom-btn;
    background-color: var(--bs-danger);
    &:hover {
        background-color: var(--bs-primary);
    }
}
// download
.download-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--bs-primary);
    color: var(--bs-white); 
    &:hover {
        color: var(--bs-danger);
    }
}