
.page-header-bg {
    @include backgroundImage('index_news_bg.jpg');
    margin-top: 80px;
}
.page-header {
    // background-image: url('../images/page_bg.png');
    // background-repeat: no-repeat;
    // background-position: right bottom;
    // background-size: 40%;
    padding: {
        top: 30px;
        bottom: 0;
    };
    h2 {
        position: relative;
        padding: {
            left: 35px;
            right: 35px;
        };
        margin-bottom: 0;
        &::before, &::after {
            content: "/";
            position: absolute;
            top: -2px;
            height: 100%;
            width: auto;
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }
    }
}
.page-content {
    p {
        margin-bottom: 1.5rem;
        text-align: justify;
        line-height: 1.5;
    }
    figure {
        margin-bottom: 1.5rem;
    }
    pre {
        font-size: inherit;
        font-family: inherit;
        white-space:pre-wrap;
        margin-bottom: 0;
    }
}
.breadcrumb-bg {
    background-color: rgba($breadcrumb-bg, 0.7);
}
.title-icon {
    margin-left: -1.5rem;
    > span {
        display: inline-block;
        font-size: 0.5rem;
        margin-right: 8px;
    }
}
// 學校案例分享
.shareFeedbackModal {
    max-width: 660px;
    background-color: rgba($shareFeedbackModal-bg, 0.9);
    border-radius: 20px;
    box-shadow: $box-shadow;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    .close {
        border: 0;
        background-color: transparent;
        font-size: 1.125rem;
        padding: 0;
        &:focus {
            border: 0;
            outline: 4px dashed var(--bs-warning);
        }
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
}
.shareFeedbackModal-body {
    > article > p {
        margin-bottom: 10px;
        font-weight: $font-weight-bold;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.content-title {
    display: inline-block;
    background-color: var(--bs-warning);
    padding: 5px 15px;
}
@import 'aboutUACN';
@include media-breakpoint-up(lg) {
    .page-header-bg {
        margin-top: 0;
    }
    .page-header {
        // background-size: auto;
        // padding: {
        //     top: 120px;
        //     bottom: 120px;
        // };
        h2 {
            font-size: 3rem;
        }
    }
    .shareFeedbackModal .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}
@include media-breakpoint-down(sm) {
    .page-header {
        figure {
            width: 260px;
            margin: {
                bottom: 30px;
                left: auto;
                right: auto;
            };
            
        }
    }
    #newsTabs.nav-tabs {
        .nav-link {
            margin: 0 auto;
            width: 47px;
            padding: {
                left: 0;
                right: 0;
            };
        }
    }
}