$blue:    #0074A5;
$red:     #D02204;
$dark:          #3D3C3C;
$light:         #F5F5F5;

// $secondary:     $red;
// custom v
$footer-bg: #696969;
// 
$font-family-base: "Microsoft JhengHei", sans-serif;
$font-family-Arial: Arial, sans-serif;
