.footer-menu-btn {
    > button {
        border-radius: 36px 36px 0 0;
    }
}
.footer-menu {
    padding: {
        top: 80px;
        bottom: 80px;
    };
}
.footer-menu-links {
    > p {
        color: var(--bs-white);
    }
    a {
        color: var(--bs-white);
        display: block;
        padding: {
            top: 4px;
            bottom: 4px;
        };
        &:hover {
            text-decoration: underline;
        }
    }
}
.footer-Information {
    background-color: $footer-bg;
    color: $footer-font-color;
    padding: {
        top: 80px;
        bottom: 80px;
    };
    a {
        color: $footer-font-color;
        &:hover {
            color: var(--bs-primary);
            text-decoration: underline;
        }
    }
    .footer-text-light {
        color: $footer-light;
    }
    .footer-btn {
        color: var(--bs-white);
        background-color: var(--bs-primary);
        font-family: $font-family-Arial;
        padding: 8px 30px;
        border-radius: 50px;
        font-weight: bold;
        text-decoration: none !important;
        box-shadow: $custom-box-shadow-bese;
        &:hover {
            background-color: var(--bs-warning);
            color: $btn-font-color;
        }
    }
}

@media print {
    .footer {
        display: none;
    }
}