#goTop {
    background-color: #e5e5e5;
    width: 60px;
    height: 60px;
    right: -80px;
    bottom: 60px;
    transition: .3s ease;
    &:hover, &:focus {
        background-color: var(--bs-primary);
        color: var(--bs-white);
    }
    &:focus {
        border: 0;
        outline: 4px dashed var(--bs-warning);
    }
    &.show {
        right: 15px;
        opacity: 1;
        animation-name: fade;
        animation-duration: 1s;
    }
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}  

@include media-breakpoint-up(lg) {
    #goTop.show {
        right: 30px;
    } 
}