#goTop {
    background-color: #e5e5e5;
    width: 64px;
    height: 64px;
    right: -80px;
    bottom: 6rem;
    transition: .3s ease;
    &:hover, &:focus {
        background-color: var(--bs-primary);
        color: var(--bs-white);
    }
    &:focus {
        border: 0;
        outline: 2px dashed $custom-focus-color;
    }
    &.show {
        right: 15px;
        opacity: 1;
        animation-name: fade;
        animation-duration: 1s;
    }
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}  

@include media-breakpoint-up(lg) {
    #goTop.show {
        right: 1rem;
    } 
}