@import 'login';
.header {
    background-color: $header-bg;
    box-shadow: 0 3px 3px rgba($black, 0.33);
    margin-bottom: 3px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
#search-btn {
    margin-right: 0;
    color: var(--bs-dark);
    &:hover, &:focus-visible {
        background-color: var(--bs-dark);
        color: var(--bs-white);
    }
}
.header-top {
    a {
        color: var(--bs-white);
        margin-right: 15px;
        &:hover {
            text-decoration: underline;
        }
    }
}
@include media-breakpoint-up(lg) {
    .header {
        position: static;
    }
}
// @include media-breakpoint-up(xxl) {
//     .login-warpper .login {
//         right: 3rem;
//     }
// }

// @include media-breakpoint-down(lg) {
//     .header {
//         background-color: #ededed;
//     }
// }
@keyframes width {
    0% {
        width: 50px;
    }
    100% {
        width: 230px;
    }
}

.sticky {
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
}
@keyframes fadeInDown {
    0% {
        transform: translateY(-100%);
    } 100% {
        transform: translateY(0);
    }
}