.custom-links-gray {
    color: $custom-small-color;
    text-decoration-color: $custom-small-color;
    text-decoration: underline;
}
.custom-link-blue {
    color: #1763F2;
    transition: .3s ease;
    text-decoration: underline;
    &:hover, &:focus {
        color: var(--bs-primary);
    }
}