// login
.login {
    width: 250px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    background-color: var(--bs-primary);
    top: 39px;
    right: 0;
    z-index: 2;
    box-shadow: none;
    overflow: hidden;
    transition: width .3s ease;
    transform-origin: right;
    .login-form {
        background-color: var(--bs-white);
        border-radius: 12px;
        margin: 8px;
        padding: 15px;
        font-size: 0.875rem;
        label {
            width: 50px;
            // text-align: justify;
            // text-align-last: justify;
        }
        input {
            border-radius: 0;
            border: 0;
            background-color: $login-input-bg-light;
            box-shadow: $login-input-shadow-inset;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }
        .samll {
            font-size: 0.75rem;
        }
        .login-btn {
            background-color: $login-button-bg;
            border: $login-button-border;
            border-radius: 0;
            &:hover, &:focus {
                background-color: $login-button-hover-bg;
                color: var(--bs-white);
            }
        }
        .login-links {
            color: $login-links-color;
            margin-right: 0;
        }
    }
}
.vcode-regen > button {
    width: 40px;
    border-radius: 0;
    padding: {
        left: 0;
        right: 0;
    };
    text-align: center;
}
.verification {
    font-size: 1.5rem;
}
#search-btn:focus {
    background-color: var(--bs-dark);
    color: var(--bs-white);
}
.replay-captcha {
    font-size: .725rem;
    color: $login-links-color;
}
.admin-form {
    background-color: $login-input-bg-light;
    border-radius: 12px;
}
.login-link-group {
    > li {
        display: block;
        border-bottom: 1px solid $login-link-border-color;
        &:last-child {
            border-bottom: 0;
        }
        > a {
            display: block;
            color: $login-link-color;
            text-align: center;
            margin-right: 0;
            transition: .3s ease;
            &:hover {
                color: var(--bs-primary);
                text-decoration: none;
            }
        }
    }
}
#loginBtn:not(.show) {
    > i {
        transform: rotate(0);
        transform-origin: center;
        transition: .3s ease;
    }
}
#loginBtn.show {
    > i {
        transform: rotate(180deg);
        transform-origin: center;
        transition: .3s ease;
    }
}