@import 'header';
@import 'navbar';
@import 'navbarRight';
@import 'content';
@import 'footer';
.form-control:focus, button:focus:not(:focus-visible), a:focus-visible {
    border: 0;
    outline: 2px dashed $custom-focus-color;
}
.main {
    padding-bottom: 80px;
}
.message {
    background-color: rgba($message-bg, 0.64);
    margin-top: 78px;
}
.title {
    span {
        display: block;
        &:nth-child(2) {
            display: none;
            padding: {
                left: 8px;
                right: 8px;
            };
        }
    }
}
.sticky-content {
    .item {
        position: relative;
        p {
            margin-bottom: 2.4rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .link-dark:hover, .link-dark:focus, a:hover, a:focus {
            color: var(--bs-primary) !important;
        }
        margin-bottom: 3rem;
    }
    .small, .figure-caption {
        color: $custom-small-color;
    }
}
@include media-breakpoint-up(lg) {
    .message {
        margin-top: 0;
    }
}
@include media-breakpoint-up(md) {
    .title {
        span {
            display: inline-block;
            &:nth-child(2) {
                display: inline-block;
            }
        }
    }
}