.social_share {
    display: flex;
    justify-content: flex-end;
    > button {
        background-color: var(--bs-primary);
        color: var(--bs-white);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        border: 0;
        &:hover, &.active {
            background-color: var(--bs-warning);
            color: $btn-font-color;
        }
        &:focus {
            background-color: var(--bs-warning);
            color: $btn-font-color;
            outline: 4px dashed var(--bs-warning);
        }
    }
}