
.table-primary {
    --bs-table-bg: #{$primary};
    --bs-table-color: #{$white};
    color: var(--bs-white);
}
.custom-table {
    > thead > tr > th:not(:last-child) {
        border-right: 1px solid var(--bs-white);
    }
    > tbody > tr > td:not(:last-child) {
        border-right: 1px solid #A8A7A7;
    }
}