.section {
    padding: {
        top: 80px;
        bottom: 80px
    };
    overflow: hidden;
}
.font-family-Arial {
    font-family: $font-family-Arial;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
.rounded-15 {
    border-radius: 15px !important;
}
.rounded-12 {
    border-radius: 12px !important;
}
.rounded-7 {
    border-radius: 7px !important;
}
a {
    color: var(--bs-dark);
    transition: .3s ease;
    text-decoration: none;
    &:hover {
        color: var(--bs-primary);
    }
}
.custom-bg-gray {
    background-color: $custom-gray !important;
}