// button color 
$btn-font-color: #2A2828;
// header
$header-bg: #F0F2F4;
// message
$message-bg: #F0F2F4;
// footer
$footer-bg: #EBE8E8;
$footer-light: #adadad;
$footer-font-color: #141313;
// box-shadow
$custom-box-shadow-bese: 0 3px 6px rgba($black, 0.16);
// navbar 
$nav-sub-menu-bg: #EBEAEA;
$nav-border-color: #C0C1C1;
$nav-border: 1px solid $nav-border-color;
$nav-menu-phone-bg: #ededed;
$nav-menu-phone-border-color: #AFAFAF;
$nav-menu-phone-border: 1px solid $nav-menu-phone-border-color;
$open-nav-menu-bg: #6E6567;
// login color
$login-input-bg-light: #efefef;
$login-input-shadow-inset: 2px 2px 2px rgba($black, 0.16) inset;
$login-button-bg: #DDD9D8;
$login-button-hover-bg: #707070;
$login-button-border-color: #707070;
$login-button-border: 1px solid $login-button-border-color;
$login-links-color: #0074A5;

$box-shadow: 0 3px 6px rgba($black, .16);
// icon 
$icons: (
    chevron-down: "\f078",
    angle-left: "\f104",
    angle-right: "\f105",
    plus: "\2b",
    minus: "\f068",
    right-triangle: "\e909",
    circle: "\f111",
    check: "\f00c"
);
// 
$page-header-gradient-bg: linear-gradient(to right, #EBF3FA 0%, #DDEDFA 70%, #CFE8FA 100%);
// page-link
$pagination-custom-bg: #E0DFDF;
// shareFeedbackModal
$shareFeedbackModal-bg: #E5F0FA;
// feedback
$swiper-button-color: #DCDBDB;
// 
$custom-gray: #F4F4F4;
$custom-focus-color: #ff5900;
$breadcrumb-bg: #DBECF4;
$pagination-dark: #4A4C4D;
$custom-small-color: #919191;

$custom-accordion-border-color: #B9B2B2;
$custom-characterTab-bg: #f2f2f2;
// search
$custom-search-bg: #ECEFEF;
$custom-search-border: #C4C4C4;
$custom-search-link-colr: #0581B4;
$custom-light-blue: #48B6E5;
$custom-light-orange: #F8C886;
$custom-light-purple: #E1D0FC;
$custom-light-green: #CBEDBC;
$custom-search-tag-color: (
    lightBlueIcon: $custom-light-blue,
    lightOrangeIcon: $custom-light-orange,
    lightPurpleIcon: $custom-light-purple,
    lightGreenIcon: $custom-light-green
) !default;
$custom-tag-light-gray: #F5F4F4;
$professionalFunctions-navbar-bg: #F8F8F8;
// model
$custom-model-bg-color: #D1D1D1;
// 
$custom-dark-blue: #006793;
$custom-accordion-header-color: $custom-dark-blue;
$custom-accordion-header-hover-color: #E6F2F7;

// svg groups
$professionalFunctionsNavbarBg: (
    img1: 'width="64.969" height="58.617" viewBox="0 0 64.969 58.617"><path id="Path_47050" data-name="Path 47050" d="M1150.183-102.438a22.608,22.608,0,0,0-3.056,2.427c-8.2,7.781-7.494,21.6-3.174,31.211,9.22,20.52,30.333,19.627,33.9,19.331s24.981-7.038,27.657-26.864-16.1-31.584-32.285-31.653C1165.661-108.018,1156.816-106.85,1150.183-102.438Z" transform="translate(-1140.8 107.987)"',
    img2: 'width="63.039" height="58.662" viewBox="0 0 63.039 58.662"><path id="Path_47044" data-name="Path 47044" d="M1235.339-98.563a28.718,28.718,0,0,0-5.76,9.88,33.9,33.9,0,0,0-2.361,12.659c.5,14.372,16.953,23.931,29.582,26.656,6.8,1.465,24.913-.8,29.726-8.16s5.1-22.648,0-33.406-8.21-17.375-22.079-16.615C1252.5-106.895,1242.281-106.061,1235.339-98.563Z" transform="translate(-1227.204 107.608)"',
    img3: 'width="63.038" height="58.662" viewBox="0 0 63.038 58.662"><path id="Path_47005" data-name="Path 47005" d="M1719.55-97.05a28.718,28.718,0,0,1,5.761,9.881,33.868,33.868,0,0,1,2.36,12.658c-.5,14.373-16.952,23.932-29.582,26.656-6.794,1.465-24.913-.8-29.725-8.16s-5.1-22.648,0-33.406,8.209-17.374,22.079-16.615C1702.387-105.381,1712.61-104.547,1719.55-97.05Z" transform="translate(-1664.647 106.095)" ',
    img4: 'width="64.968" height="58.617" viewBox="0 0 64.968 58.617"><path id="Path_47004" data-name="Path 47004" d="M1804.706-100.925a22.684,22.684,0,0,1,3.056,2.428c8.195,7.781,7.494,21.6,3.174,31.211-9.219,20.519-30.333,19.627-33.9,19.33s-24.981-7.037-27.657-26.863,16.1-31.584,32.285-31.653C1789.227-106.5,1798.071-105.337,1804.706-100.925Z" transform="translate(-1749.119 106.473)"',
    img5: 'width="63.685" height="60.171" viewBox="0 0 63.685 60.171"><path id="Path_46969" data-name="Path 46969" d="M1069.219-102.406a29.807,29.807,0,0,0-2.982,2.149c-14.407,11.8-11.319,34.2,3.462,44.11,9.38,6.288,25.714,12.18,36.488,6.3,7.7-4.2,14.881-9.8,14.356-19.959-.659-12.763-2.473-27.741-15.083-33.835C1094.243-109.057,1079.909-109.153,1069.219-102.406Z" transform="translate(-1056.885 107.594)"',
    img6: 'width="65.449" height="61.412" viewBox="0 0 65.449 61.412"><path id="Path_46968" data-name="Path 46968" d="M976.174-95.787a26.31,26.31,0,0,0-2.092,2.765c-4.047,6.161-6.016,14.482-3.527,21.61,3.462,9.909,17.672,19.351,27.126,22.952,4.337,1.652,25.4,6.4,34.078-10.534,5.365-10.475,3.283-24.865-1.9-35.073-5.62-11.074-20.329-15.772-31.976-13.254C989.8-105.574,981.644-102.111,976.174-95.787Z" transform="translate(-969.454 107.986)"',
    img7: 'width="63.685" height="60.171" viewBox="0 0 63.685 60.171"><path id="Path_47003" data-name="Path 47003" d="M1885.671-100.892a29.988,29.988,0,0,1,2.982,2.148c14.407,11.8,11.319,34.2-3.462,44.111-9.38,6.288-25.714,12.18-36.488,6.3-7.7-4.2-14.882-9.8-14.357-19.958.66-12.763,2.474-27.741,15.084-33.836C1860.646-107.543,1874.98-107.64,1885.671-100.892Z" transform="translate(-1834.319 106.081)"',
    img8: 'width="65.448" height="61.412" viewBox="0 0 65.448 61.412"><path id="Path_47002" data-name="Path 47002" d="M1926.7-94.273a26.12,26.12,0,0,0-2.091,2.764c-4.047,6.162-6.017,14.483-3.528,21.61,3.462,9.91,17.672,19.352,27.126,22.953,4.338,1.652,25.4,6.4,34.078-10.534,5.365-10.475,3.284-24.866-1.9-35.073-5.62-11.075-20.33-15.773-31.976-13.254C1940.332-104.061,1932.175-100.6,1926.7-94.273Z" transform="translate(-1919.985 106.472)"',
    img9: 'width="63.686" height="60.171" viewBox="0 0 63.686 60.171"><path id="Path_46983" data-name="Path 46983" d="M1417.978-100.533A29.609,29.609,0,0,0,1415-98.385c-14.407,11.8-11.319,34.2,3.462,44.11,9.38,6.288,25.714,12.18,36.488,6.3,7.7-4.2,14.882-9.8,14.357-19.959-.66-12.763-2.474-27.741-15.084-33.835C1443-107.185,1428.67-107.281,1417.978-100.533Z" transform="translate(-1405.645 105.722)"',
    img10: 'width="63.039" height="58.662" viewBox="0 0 63.039 58.662"><path id="Path_46985" data-name="Path 46985" d="M1584.1-96.691a28.706,28.706,0,0,0-5.76,9.88,33.883,33.883,0,0,0-2.361,12.659c.5,14.372,16.953,23.931,29.583,26.656,6.795,1.465,24.913-.8,29.725-8.16s5.1-22.648,0-33.406-8.209-17.375-22.079-16.615C1601.263-105.023,1591.04-104.189,1584.1-96.691Z" transform="translate(-1575.964 105.736)"',
    img11: 'width="65.448" height="61.412" viewBox="0 0 65.448 61.412"><path id="Path_47021" data-name="Path 47021" d="M1720.636-186.452a26.082,26.082,0,0,1,2.09,2.765c4.047,6.161,6.018,14.482,3.528,21.61-3.462,9.909-17.672,19.351-27.126,22.952-4.337,1.652-25.4,6.4-34.078-10.534-5.365-10.475-3.283-24.865,1.9-35.073,5.62-11.074,20.33-15.773,31.976-13.254C1707.009-196.239,1715.166-192.776,1720.636-186.452Z" transform="translate(-1661.907 198.65)"',
    img12: 'width="64.968" height="58.617" viewBox="0 0 64.968 58.617"><path id="Path_47023" data-name="Path 47023" d="M1842.635-193.1a22.681,22.681,0,0,0-3.055,2.428c-8.195,7.781-7.493,21.6-3.174,31.212,9.219,20.519,30.333,19.627,33.9,19.331s24.982-7.038,27.657-26.864-16.1-31.584-32.285-31.653C1858.115-198.682,1849.27-197.515,1842.635-193.1Z" transform="translate(-1833.254 198.651)"',
    img13: 'width="64.969" height="58.618" viewBox="0 0 64.969 58.618"><path id="Path_46984" data-name="Path 46984" d="M1498.943-100.566a22.659,22.659,0,0,0-3.056,2.427c-8.2,7.781-7.494,21.6-3.173,31.211,9.219,20.52,30.333,19.628,33.9,19.331s24.981-7.037,27.658-26.864-16.1-31.584-32.285-31.653C1514.422-106.146,1505.578-104.978,1498.943-100.566Z" transform="translate(-1489.561 106.115)"',
    img14: 'width="65.448" height="61.412" viewBox="0 0 65.448 61.412"><path id="Path_46982" data-name="Path 46982" d="M1376.943-93.915a26.137,26.137,0,0,1,2.091,2.765c4.047,6.161,6.018,14.482,3.528,21.61-3.462,9.909-17.672,19.351-27.126,22.952-4.338,1.652-25.4,6.4-34.078-10.534-5.365-10.475-3.283-24.865,1.9-35.073,5.62-11.074,20.33-15.772,31.976-13.254C1363.316-103.7,1371.473-100.239,1376.943-93.915Z" transform="translate(-1318.214 106.114)"',
    img15: 'width="63.686" height="60.172" viewBox="0 0 63.686 60.172"><path id="Path_47022" data-name="Path 47022" d="M1761.671-193.07a29.9,29.9,0,0,0-2.982,2.148c-14.407,11.8-11.319,34.2,3.463,44.111,9.379,6.288,25.713,12.179,36.486,6.3,7.7-4.2,14.882-9.8,14.358-19.959-.661-12.763-2.474-27.741-15.085-33.835C1786.7-199.721,1772.362-199.818,1761.671-193.07Z" transform="translate(-1749.338 198.259)"',
    img16: 'width="63.038" height="58.661" viewBox="0 0 63.038 58.661"><path id="Path_47024" data-name="Path 47024" d="M1927.793-189.228a28.711,28.711,0,0,0-5.76,9.881,33.869,33.869,0,0,0-2.361,12.658c.5,14.373,16.953,23.932,29.582,26.656,6.795,1.466,24.912-.8,29.725-8.159s5.1-22.649,0-33.406-8.209-17.375-22.078-16.615C1944.956-197.559,1934.733-196.725,1927.793-189.228Z" transform="translate(-1919.658 198.272)"'
) !default;
$professionalFunctionsNavbarBg-pc-color: '%23eae8e8';
$professionalFunctionsNavbarBg-phone-color: '%23F9F9F9';
// diagnose
$diagnose-bg-color: $professionalFunctions-navbar-bg;
$diagnose-part-color: #7C7B7B;
$diagnose-part-active-color: $nav-sub-menu-bg;
$diagnose-table-border-color: $login-button-border-color;
$diagnose-fraction-gray: #716F6F;
$diagnose-fraction-number-gray: #909698;
$diagnose-professional-bg-color: $professionalFunctions-navbar-bg;
$diagnose-block-lightGray-color: #EAEAEA