// button color 
$btn-font-color: #2A2828;
// header
$header-bg: #F0F2F4;
// message
$message-bg: #F0F2F4;
// footer
$footer-bg: #EBE8E8;
$footer-light: #adadad;
$footer-font-color: #141313;
// box-shadow
$custom-box-shadow-bese: 0 3px 6px rgba($black, 0.16);
// navbar 
$nav-sub-menu-bg: #EBEAEA;
$nav-border-color: #C0C1C1;
$nav-border: 1px solid $nav-border-color;
$nav-menu-phone-bg: #ededed;
$nav-menu-phone-border-color: #AFAFAF;
$nav-menu-phone-border: 1px solid $nav-menu-phone-border-color;
$open-nav-menu-bg: #6E6567;
// login color
$login-input-bg-light: #efefef;
$login-input-shadow-inset: 2px 2px 2px rgba($black, 0.16) inset;
$login-button-bg: #DDD9D8;
$login-button-hover-bg: #707070;
$login-button-border-color: #707070;
$login-button-border: 1px solid $login-button-border-color;
$login-links-color: #0074A5;

$box-shadow: 0 3px 6px rgba($black, .16);
// icon 
$icons: (
    chevron-down: "\f078",
    angle-left: "\f104",
    angle-right: "\f105",
    plus: "\2b",
    minus: "\f068",
    right-triangle: "\e909"
);
// 
$page-header-gradient-bg: linear-gradient(to right, #EBF3FA 0%, #DDEDFA 70%, #CFE8FA 100%);
// page-link
$pagination-custom-bg: #E0DFDF;
// shareFeedbackModal
$shareFeedbackModal-bg: #E5F0FA;
// feedback
$swiper-button-color: #DCDBDB;
// 
$custom-gray: #F4F4F4;
$custom-focus-color: #ff5900;
$breadcrumb-bg: #DBECF4;
$pagination-dark: #4A4C4D